*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Borel', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background-image: url('../images/ravi-patel-kWRo3m0_DZU-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}
.title{
    margin-top: 10px;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}
.col{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.col div{
    width: 250px;
    text-align: center;

}
input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
}

@media (min-width: 320px) {
    .main{
       
        background-size: 100% 100%;
    }
  
}


@media (max-width: 1200px){
    .main{
       position: relative;
        background-size: 100% 100%;
    }
    
    .col{
        position: relative;
        width: 23rem;
    }
    
  
}